/*---CORES ROOT e GERAL CONFIG---*/
:root {
  --gradient-background: linear-gradient(
    125deg,
    var(--cor-cabeçalho),
    var(--cor-background),
    hsl(275, 24%, 55%)
  );
  --gradient-texto-cabeçalho: linear-gradient(90deg, #0d0769, #383bf7);
  --gradient-texto: linear-gradient(90deg, #ffffff, #183470);
  --cor-botão: white;
  --cor-background: #130e5e;
  --cor-cabeçalho: #6467fa;
  --sombra-cabeçalho: #070055;
  --fonte-geral: "Open Sans", sans-serif;
  --fonte-sombra: #0000745e;
  --lista-background-color: rgb(229, 225, 253);
  --itens-background-color: white;
  --cor-borda: var(--cor-fonte);
  --cor-fonte: rgb(7, 9, 153);
}
* {
  margin: auto;
  padding: 0;
}
body {
  font-family: var(--fonte-geral);
  background-attachment: fixed;
  background-color: var(--cor-background);
  color: var(--cor-fonte);
}
header {
  display: flex;
  padding: 10px;
  margin-bottom: 50px;
}
main {
  border-radius: 32px;
  display: block;
  margin: 25px;
}
#layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
}
/*---CABEÇALHO CONFIG---*/
#cabeçalho {
  background-color: var(--cor-cabeçalho);
  color: var(--gradient-texto);
}

#cabeçalho-title {
/* Define o gratient-background do texto */
  background-image: var(--gradient-texto-cabeçalho  );
  
  /* Atravessa o background para o texto */
  -webkit-background-clip: text;
  background-clip: text;
  
  /* Deixa o texto transparente */
  color: transparent;
}

#cabeçalho:hover {
  box-shadow: 0px 5px 10px var(--sombra-cabeçalho);
  transition: 300ms;
}

#dark-mode-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 24px;
}

#github-logo {
  max-height: 30px;
}

#github-logo:hover {
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 2px 3px 5px var(--fonte-sombra);
  transition: 500ms;
}

#dark-mode-button:hover {
  cursor: pointer;
  text-shadow: 2px 3px 5px var(--fonte-sombra);
  transition: 500ms;
}
/*---MAIN LISTAS CONGFIG---*/

.lista-title {
  /* Define formatação do texto de apresentação da página */
  gap: 20px;
  max-width: 1000px;
  margin: 25px auto;
  padding: 20px;
  /* Define o gratient-background do texto */
  background-image: var(--gradient-texto);
  
  /* Atravessa o background para o texto */
  -webkit-background-clip: text;
  background-clip: text;
  
  /* Deixa o texto transparente */
  color: transparent;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(15, 15, 15, 0.685);
  border-radius: 20px;
}

.lista {
  /* Define formatação das duas seções da página */
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1000px;
  margin: 25px auto;
  padding: 20px;

  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
  background-color: var(--lista-background-color);
  border-radius: 20px;
}

#input-text {
  /* Define os estilos do input de texto */
  padding: 10px;
  background-attachment: fixed;
  border: 2px solid var(--cor-borda);
  border-radius: 16px;
}

#botão-enviar {
  /* Estilos do botão de adicionar intem na lista */
  padding-right: 5px;
  padding-left: 5px;
  border: 2px solid var(--cor-borda);
  border-radius: 10px;
  font-size: 24px;
  color: var(--cor-fonte);
  background-color: var(--cor-botão);
}
#botão-enviar {
  /* Efeitos do botão enviar */
  transition: 0.25s;
}

#botão-enviar:hover {
  /* Efeitos do botão enviar */
  transform: scale(1.08);
}

#botão-enviar:hover {
  /* Estilos do botão de adicionar intem na lista */
  cursor: pointer;
  transform: scale(1.1);
  text-shadow: 2px 3px 5px var(--fonte-sombra);
  transition: 500ms;
}

#output-produtos {
  /* Plano de fundo e organização do preview! */
  display: flex;
  align-content: flex-start;
  align-items: center;
  background-color: var(--cor-cabeçalho);
  border-radius: 16px;
  min-height: 400px;
  min-width: 400px;
}

#output-produtos {
  border-radius: 20px;

  padding: 20px;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.item-lista {
  width: 300px;
  display: flex;
  align-items: center;

  font-weight: bold;
  background-color: var(--cor-botão);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.item-lista span {
  flex: 1;
}

.botao-excluir {
  /* Estilo do botão excluir elemento */
  width: 32px;
  height: 32px;
  margin-left: auto;

  border: none;
  border-radius: 50%;

  background: #c62828;

  color: white;

  cursor: pointer;

  transition: 0.25s;
}

.item-lista:hover {
  /* Efeitos de hover e sombra da lista */
  transform: translateY(-2px);
  transition: 300ms;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

.item-disabled {
  /* Efeito de desabilitado ao dar duplo clique no item */
  opacity: 50%;
  font-weight: lighter;
  text-decoration: line-through;  
}

.botao-excluir:active {
  /* Efeitos de hover e sombra da lista */
  transform: scale(0.9);
}

.botao-excluir:hover {
  /* Efeitos de hover e sombra da lista */
  transform: scale(1.15);
  background: #9b0000;
}

@keyframes aparecer {
  /*Animação completa de como os itens da lista sobem suavemente ao clicar em enviar CSS PURO     */

  from {
    opacity: 0;

    transform: translateY(-15px);
  }

  to {
    opacity: 1;

    transform: translateY(0);
  }
}

.item-lista {
  animation: aparecer 0.25s ease;
}

/*CONFIGURAÇÃO GERAL DO MODO ESCURO*/

.dark-mode {
  --cor-background: #1e1e1e;
  --cor-cabeçalho: #2d2d2d;
  --sombra-cabeçalho: #000000;
  --cor-fonte: #f5f5f5;
  --fonte-sombra: rgba(255, 255, 255, 0.2);
  --lista-background-color: #333333;
  --itens-background-color: #444444;
  --cor-borda: #f5f5f5;
  --cor-botão: black;

  --gradient-texto-cabeçalho: linear-gradient(90deg, #ffffff, #171a1f);
  --gradient-texto: linear-gradient(90deg, #ffffff, #393c41);
  --gradient-background: linear-gradient(125deg, #2d2d2d, #1e1e1e, #3d3d3d);
}
